<h1 class="my-text myh1"><strong><%= @book.name %></strong></h1>
<p>Rating: <%= @book.rating %></p>
<% if @book.can_take?(current_user) %>
  <div class="float-right w-25 p-3">
    <%= button_to('Take', take_book_path, method: 'get', class: 'btn-lg btn-success TakeButton') %>
  </div>
<% end %>
<% if @book.can_return?(current_user.email) %>
  <div class="float-right w-25 p-3">
    <%= button_to('Give Back', return_book_path, method: 'get', class: 'btn-lg btn-danger TakeButton') %>
  </div>
  <% end %>
  <div class="my-text2">
  <%= image_tag @book.image, class: 'myImg' %>
  <div class="mytext3">
  <%= truncate(@book.description, length: 3300, escape: false) {link_to('continue', '#')} %>
  </div>
  </div>
 
  <div class="container">
  <% @comment.each do |comment| %>
  <div class="media">
  <!-- <img class="mr-3" src="" alt="Generic placeholder image"> -->
  <div class="media-body">
    <h5 class="mt-0"><strong><%= comment.username %></strong><p><%= comment.created_at.strftime("%m/%d/%Y %R") %></p></h5>
    <%= comment.usertext %>
   </div>
   </div>
   <% end %>
   </div>

   <!-- params[:usertext] <% @book_id == params[:book_id] %> -->

  <%= form_tag(controller: 'books', action: 'create_comment', method: 'post') do |comment| %>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">
    <%= current_user.email %></label>
    <%= text_area_tag('usertext', params[:usertext], :class => 'form-control', size: '20x10', style: 'resize:none') %>       
  </div>
  <div class="text-center">
   <%= submit_tag("Comment", :class => "btn btn-primary") %>
  </div>   
  </div>  
</div>
  <% end %>

 <table class='table table-striped text-center'>
  <thead>
    <tr>
      <th class='text-center'>Username</th>
      <th class="text-center">Take</th>
      <th class="text-center">Return</th>
      <th class='text-center'></th>
    </tr>
  </thead>
  <% @history.each do |history| %>
  <tbody>     
    <tr>     
      <td><%= history.whotake %></td>
      <td><%= history.whentake %></td>
      <td><%= history.whenreturn %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   
  </tbody>
  <% end %> 
</table>
     <tbody>     
    <tr>     
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>   
  </tbody>
</table>
